.header {
    margin-top: 60px;
    position: relative;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
    position: relative;
    z-index: 2;
    padding: 20px 0;
}

.headerTitleLg {
    font-size: 70px;
    margin-bottom: 80px;
    font-family: 'Playfair Display', serif;
}

.headerImg {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}